<section class="container">
<section class="login-container">

  <div id="login-splash">
    <p class="cta_title">Need Developers?</p>
    <p class="cta_subtitle">Sweeten your team with Iron Yard Talent</p>
  </div>

  <div id="login-form">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <dt><%= f.input :email, required: false, autofocus: true %></dt>
    <dt><%= f.input :password, required: false %></dt>
    <dt><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></dt>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<div class = "sign-in-links"
<%= render "devise/shared/links" %>


  </div>
</section>
</section>



    <!-- <form name="login">
      <dt><p>Username</p><input class="form-entry" type="text" name="username"/></dt>
      <dt><p>Password</p><input class="form-entry" type="password" name="password"></dt>
      <a href="#/roster"><input id="login-button" type="button" value="Login"/></a>
      <input type="reset" id="reset" value="Cancel"/>
    </form> -->
